<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link href="/scute/favicon.ico" rel="icon" type="image/png">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="no-cache" http-equiv="Pragma">
        <meta content="-1" http-equiv="Expires">
        <title>{{title}}</title>
        <link href="/scute/style.css" rel="stylesheet"/> {% block head %}{% endblock %}
        </head>

        <body>
            <header>
                {% include "header.html" %}
            </header>

            <main>

                {% block content %}{% endblock %}

            </main>

            {% include "footer.html" %}

        </body>

    </html>
