{% extends "base.html" %}
{% block content %}


<main id="mainMenu">
    <div class="main-wrapper happy-margin">

        <section class="main-table-wrapper" toolversion>
            <div class="table-nav flex top-tail-margin top-tail-padding">
                <div class="table-nav-left">
                    <span class="usb-icon inline-block">
                        <img alt="USB icon" src="/scute/images/usb-icon.png">
                    </span>
                    <div class="inline-block navy table-header">
                        <h2>Tag Manager</h2>
                    </div>
                </div>
                <div class="table-nav-right gray">
                    <div class="last-loaded key inline-block">
                        <p class="inline-block light-gray">Last loaded:</p>
                    </div>
                    <div class="date value inline-block">
                        <p class="inline-block">2X/1X/XX19 - 1X:4X</p>
                    </div>
                </div>
            </div>



            <section class="main-table">
                <table>
                    <tr>
                        <td>
                            Fields
                        </td>
                        {% for device in reportValues %}
                        <td data-device="{{device}}" class="deviceHeader">
                            {{device}}
                        </td>
                        {% endfor %}
                    </tr>

                    {% for key,category in reportSchema.items() | sort(attribute='1.order') %}
                    {% for fieldKey,fieldSchema in category.fields.items() | sort(attribute='1.order') %}
                    <tr>
                        <td>{{fieldSchema.label}}</td>
                        <span class="circle1 circle selected"></span>
                        {% for deviceKey,deviceValues in reportValues.items() %}
                        <td>{{deviceValues[fieldKey]}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    <tr>
                        <span class="circle circle2"></span>
                        {% for deviceKey,deviceValues in reportValues.items() %}
                        {% endfor %}
                    </tr>
                    {% for actionKey,actionSchema in actions.items() %}
                    <tr>
                        {% for deviceKey,deviceValues in reportValues.items() %}
                        {% endfor %}
                    </tr>
                    {% endfor %}

                </table>


            </section>

            <div class="select-all-button-wrapper flex">
                <div class="selection">
                    <span class="gray">You have selected:</span>
                    <span class="gray bold">'Device 1'</span>
                </div>
                <button>Select all</button>
            </div>

            <div class="divider"></div>

            <section class="buttons actions">

                {# Gray / inactive buttons: #}
                <div class="buttons-wrapper inactive flex">
                    <button>Export Data</button>
                    <button>Configure</button>
                    <select>
                        <option>Apply Preset
                        </option>
                        <option>Preset A</option>
                        <option>Preset B</option>
                        <options>Preset C</options>
                    </select>
                    <span class="dropdown-icon">
                        <img src="scute/images/drop-down-icon.png" alt="Drop-down icon">
                    </span>
                    <button>Delete</button>
                    <button>Disconnect</button>
                </div>

                {# Navy / red / active buttons #}
                <div class="buttons-wrapper flex">
                    <button>Export Data</button>
                    <button>Configure</button>
                    <select>
                        <option>Apply Preset
                        </option>
                        <option>Preset A</option>
                        <option>Preset B</option>
                        <options>Preset C</options>
                    </select>
                    <span class="dropdown-icon">
                        <img src="scute/images/drop-down-icon.png" alt="Drop-down icon">
                    </span>
                    <button class="scary">Delete</button>
                    <button class="scary">Disconnect</button>
                </div>

            </section>

        </section>

        <section class="are-you-sure">
            <div class="pop-up">
                <p>Are you sure you want to apply preset to Device A?</p>
                <button>Yes</button>
                <button>No</button>
            </div>
        </section>

    </div>
</main>
{% endblock %}