{% extends "base.html" %}
{% block content %}


<main id="mainMenu">
    <div class="main-wrapper happy-margin">

        <section class="main-table-wrapper" toolversion>
            <div class="table-nav flex top-tail-margin top-tail-padding">
                <div class="table-nav-left">
                    <span class="usb-icon inline-block">
                        <img alt="USB icon" src="/scute/images/usb-icon.png">
                    </span>
                    <div class="inline-block navy table-header">
                        <h2>Tag Manager</h2>
                    </div>
                </div>
                <div class="table-nav-right gray">
                    <div class="last-loaded key inline-block">
                        <p class="inline-block light-gray">Last loaded:</p>
                    </div>
                    <div class="date value inline-block">
                        <p class="inline-block">2X/1X/XX19 - 1X:4X</p>
                    </div>
                </div>
            </div>



            <section class="main-table">
                <table>
                    <tr>
                        <td>
                            Fields
                        </td>
                        {% for device in reportValues %}
                        <td data-device="{{device}}" class="deviceHeader">
                            {{device}}
                        </td>
                        {% endfor %}
                    </tr>

                    {% for key,category in reportSchema.items() | sort(attribute='1.order') %}
                    {% for fieldKey,fieldSchema in category.fields.items() | sort(attribute='1.order') %}
                    <tr>
                        <td>{{fieldSchema.label}}</td>
                        <span class="circle circle1"></span>
                        {% for deviceKey,deviceValues in reportValues.items() %}
                        <td>{{deviceValues[fieldKey]}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    <tr>
                        <td class="empty"></td>
                        <span class="circle circle2"></span>
                        {% for deviceKey,deviceValues in reportValues.items() %}
                        <td>
                            <a class="button navy inline-action" href="/config/{{deviceKey}}">
                                Configuration
                            </a>
                        </td>
                        {% endfor %}
                    </tr>
                    {% for actionKey,actionSchema in actions.items() %}

                    <tr>

                        <td class="empty"></td>
                        {% for deviceKey,deviceValues in reportValues.items() %}

                        <td>
                            <a href="{{actionKey}}?devices[]={{deviceKey}}"
                                class="button navy inline-action">{{actionSchema.label}}</a>
                        </td>

                        {% endfor %}

                    </tr>

                    {% endfor %}

                </table>

            </section>

            <section class="buttons actions" style="visibility:hidden;">

                <section class="banner-block happy-margin">
                    <div class="banner selected-devices flex">
                        <h3>
                            <span class="count">2</span>
                            selected</h3>
                        <a class="quit-button icon-wrapper" onclick="clearDevices()">
                            <img alt="X Icon" src="/scute/images/x-icon.png">
                        </a>
                    </div>
                    <br />
                    <div class="buttons-wrapper flex secondary-buttons">
                        {% for actionKey,actionSchema in actions.items() %}
                        {% if actionSchema.bulk == true %}
                        <button onclick="triggerAction('{{actionKey}}')" class="secondary navy" type="button">
                            {{actionSchema.label}}
                        </button>
                        {% endif %}
                        {% endfor %}
                        <button onclick="triggerAction('presets')" class="secondary navy" type="button">
                            Load preset
                        </button>
                    </div>
                </section>
            </section>

        </section>

    </div>
</main>
{% endblock %}