{% extends "base.html" %}
{% block content %}

    <section class="happy-margin presetManager">

        <h1 class="navy">Set and Edit Presents Below ({{presets|length}})
        </h1>

        <div class="presets-manager-wrapper">
            <div class="presets-manager-list scrolling">
                <div class="edit-presets-icons">
                    <span class="icon add-preset" onclick="loadPreset('new')">
                        <img alt="Delete icon" src="scute/images/add-icon.png"/>
                    </span>
                    <span class="icon">
                        <img onclick="deletePreset()" alt="Delete icon" src="scute/images/delete-icon.png"/>
                    </span>
                </div>
                <div class="presets-list">
                    <ul>
                        
                        {% if presets %}
                        
                            {% for preset in presets  %}
                                <li class="preset-list-item" data-preset-menu="{{preset.presetID}}" onclick="loadPreset('{{ preset.presetID }}')">
                                    <span class="preset-title navy bold">{{ preset.presetName }}</span><br>
                                    <span class="description gray">{{ preset.presetDescription }}</span>
                                </li>
                            {% endfor %}

                        {% else %}

                        <li>No presets found.</li>

                        {% endif %}

                    </ul>
                </div>
            </div>
            <div class="presets-manager-content">
                <div class="heading">
                    <h1 id="presetHeading"></h1>
                    <span id="presetDate"></span>
                </div>
                {# New preset form #}
                <div data-preset="new">
                    
                    <h1>New Preset</h1>

                    {% with current = {} %}
                        {% include "presetForm.html" %}
                    {% endwith %}

                </div>

                {# Existing preset forms #}
                {% for preset in presets %}
                <div data-preset="{{preset.presetID}}" style="display:none">
                    {% with current = preset %}
                    {% include "presetForm.html" %}
                    {% endwith %}
                </div>
                {% endfor %}

            </div>
        </div>

    </section>

{% endblock %}
