{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    var presetList = [];
    {% for preset in presets  %}
    presetList.push({{ preset|tojson }});

    {% endfor %}
</script>

<section class="happy-margin presetManager">

    <h2>Set and Edit Presents Below ({{presets|length}}) </h2>
    <span class="add preset" onclick="addPreset()">+</span>

    <div class="verticalListColumn scrolling">
        <ul>
            {% for preset in presets  %}
            <li onclick="loadPreset({{ preset.ID }})"><span class="title">{{ preset.name }}</span><br>
                <span class="description">{{ preset.description }}</span>
            </li>
            {% endfor %}

        </ul>
    </div>
    <div class="content" >
        <div class="heading">
            <span id="presetHeading"></span>
            <span id="presetDate"></span>
        </div>
        <div class="presetForm" id="presetForm" style="visibility:hidden">
                <label for="presetName">Preset Name</label>
                <input type="text" id="presetName" name="presetName" required>
                <label for="preseDescription">Preset Description</label>
                <input type="text" id="preseDescription" name="preseDescription" required>
                <textArea id="presetFields" name="presetFields" ></textArea>
            <span clsss="presetDelete" data-presetID="" onClick="deletePreset()">Delete</span>
        </div>

    </div>

</section>

{% endblock %}