{% extends "base.html" %}
{% block content %}
    <section class="happy-margin scriptRun">

<h1>{{script.name}}</h1>

{% if output %}

{% if error %}

    <h2 class="script-error-message">This script doesn't exist! Are you sure you want to continue?</h2>

{% endif %}

<pre {% if error %}data-error{% endif %}>{{output}}</pre>


{% endif %}

{% if nextCommand == 0 %}

    <p class="happy-margin">{{script.description}}</p>

    <a class="happy-margin start button" href="/scripts/{{fileName}}?command={{nextCommand}}">Start</a>

{% elif nextCommand > script.commands|length %}

    <span class="alert success">The script is done.</span>

{% else %}

    <p class="happy-margin">{{script.commands[nextCommand - 1].description}}</p>

    {# Form for parameters #}

    <form class="happy-margin">

        <input type="hidden" name="command" value="{{nextCommand}}">

        {% if script.commands[nextCommand - 1].parameters %}

            {% for key,value in script.commands[nextCommand - 1].parameters.items() %}

                <label for="{{key}}">{{value}}</label>
                <input type="text" id="{{key}}" name="{{key}}"/>

            {% endfor %}

        {% endif %}

        <button type="submit">Next</button>

    </form>

{% endif %}
</section>
{% endblock %}
