{% extends "base.html" %}
{% block content %}

<h1>{{script.name}}</h1>

{% if output %}

<pre>{{output}}</pre>

{% endif %}

{% if nextCommand == 0 %}

    <p>{{script.description}}</p>

    <a href="/scripts/{{fileName}}?command={{nextCommand}}">Start</a>

{% elif nextCommand > script.commands|length %}

    The script is done.

{% else %}

    <p>{{script.commands[nextCommand - 1].description}}</p>

    {# Form for parameters #}

    <form>

        <input type="hidden" name="command" value="{{nextCommand}}">

        {% if script.commands[nextCommand - 1].parameters %}

            {% for key,value in script.commands[nextCommand - 1].parameters.items() %}

                <label for="{{key}}">{{value}}</label>
                <input type="text" id="{{key}}" name="{{key}}"/>

            {% endfor %}

        {% endif %}

        <button type="submit">Next</button>

    </form>

{% endif %}

{% endblock %}
