/* FONTS */

a:link, a:visited {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    /* font-weight: normal; */
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

h3, p {
    font-size: 0.9em;
}

h4 {
    font-size: 0.8em;
}

h5 {
    font-size: 0.7em;
}

h6 {
    font-size: 0.6em;
}

/* GENERAL */

* {
    max-width: 100%;
    text-decoration-line: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif !important;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 66em;
    max-width: 100%;
}

.happy-margin {
    margin: 1em;
}

.happy-padding {
    padding: 1em;
}

.top-tail-margin {
    margin: 1em 0;
}

.top-tail-padding {
    padding: 1em 0;
}

.side-margins {
    margin: 0 1em;
}

.bold {
    font-weight: bolder;
}

.navy {
    color: #0e2940;
}

.gray {
    color: #616161;
}

.red {
    color: red;
}

.green {
    color: #50B75F;
}

.gray-background {
    background-color: #e9e9e9;
}

.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

.icon {
    width: 1.5em;
    display: inline-block;
}

.icon img {
    vertical-align: middle;
}

label .icon:hover {
    cursor: pointer
}

/* NAV */

nav {
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    border-bottom: solid thin #B3B1B1;
}

.nav-tab {
    width: calc(100% / 4);
    text-align: center;
    border-right: solid thin #B3B1B1;
    margin: 0;
    padding: 0.8em 0;
}

.nav-tab.selected {
    border-bottom: solid #042A43;
    background: linear-gradient(#EBEBEB, #FFFFFF);
}

nav a {
    font-weight: 400;
    font-size: 1.2em;
}

.nav-branding {
    background-color: #50B75F;
    color: white;
}

.home-icon {
    margin: auto 0;
}

.home-icon img {
    width: 2em;
}

#shortReport {
    margin-bottom: 0;
}

/* MAIN */

main {
    background-color: #f5f5f5;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.main-wrapper {
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.main-table-wrapper {
    background-color: white;
}

/* TAB TITLES */

.tab-titles-wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 0;
    padding-top: 2em;
}

.articles {
    flex-flow: row wrap;
}

article.selected {
    background-color: #50B75F;
}

.tab-titles-wrapper article:first-of-type {
    margin-left: 0;
}

.tab-titles-wrapper article {
    margin: 0 0.3em;
}

.reload-icon {
    max-width: 1.5em;
    margin-top: 0.8em;
}

/* MAIN TABLE */

.table-nav {
    border-top: solid #50B75F;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
}

.table-nav-left {
    line-height: 3em;
    margin-left: 1em;
}

.table-nav-right {
    margin-right: 1em;
    font-weight: 300;
    font-size: 1.1em;
}

.usb-icon {
    width: 1.9em;
    margin-right: 0.2em;
    display: inline-block;
    vertical-align: super;
}

.usb-icon img {
    vertical-align: middle;
}

.circle {
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
    border: solid 2px #0e2940;
    background-color: white;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    z-index: 1;
}

.deviceHeader[data-active] .circle {
    border: solid 2px#50B75F;
}

main tr td:not(:first-of-type) {
    text-align: center;
}

.main-table {
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: white;
    margin: 1em;
    overflow-x: auto;
    scrollbar-color: #50B75F #e5e5e5;
}

.main-table::-webkit-scrollbar {
    width: 100%;
}

.main-table::-webkit-scrollbar-track {
    background: #e5e5e5;
}

.main-table::-webkit-scrollbar-thumb {
    background: #50B75F;
}

.table-header {
    font-size: 1.5em;
}

.table-header h2 {
    font-size: 0.9em;
}

.col0.flex>span.row0.navy {
    text-decoration: none;
}

td {
    color: #042A43;
    padding: 1em;
    margin: 0.2em;
    width: 8.5em;
    font-weight: 300;
}

table tr td:first-of-type {
    position: sticky;
    left: 0em;
}

table tr:first-of-type td {
    font-weight: bolder;
}

table tr:first-of-type td:hover {
    text-decoration: underline;
}

tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f5f5f5;
}

tr:nth-child(odd) td:first-child {
    background-color: #F5F5F5;
}

tr:nth-child(even) td:first-child {
    background-color: #E4F2E6;
}

.deviceHeader {
    cursor: pointer;
    position: relative;
}

/* BUTTONS */

button, select {
    margin: 0 0.5em 0.5em 0;
}

button:hover, a:hover, .home-icon:hover {
    cursor: pointer;
}

body button.selected {
    border: solid 0.1em red;
}

button, button.primary, select {
    background-color: transparent;
    border: solid 0.1em #0e2940;
    border-radius: 0.1em;
    padding: 0.5em 0.8em;
    font-size: 1.1em;
    font-weight: 400;
    width: 8.8em;
}

.button, .button a {
    background-color: transparent;
    border: solid 0.1em #0e2940;
    border-radius: 0.1em;
    padding: 0.5em 0.8em;
    font-size: 1.1em;
    font-weight: 400;
    display: -webkit-box;
}

button.secondary {
    color: #8a8a8a;
    border: solid 0.1em #8a8a8a;
}

button.featured {
    background-color: #6ab469;
    color: white;
    border: none;
}

button:hover {
    background-color: white;
    color: #6ab469;
    border: solid 0.1em #6ab469;
}

button:active {
    color: #4a7f48;
}

.buttons-wrapper {
    padding: 1em;
    width: 100%;
}

.buttons-wrapper button {
    width: auto;
}

.buttons-wrapper:after {
    content: "";
    flex: 1;
}

.divider {
    border-top: solid thin #B3B1B1;
    margin: 1em;
}

.buttons-wrapper [disabled] {
    cursor: not-allowed;
    opacity: 0.2;
}

.buttons-wrapper .dropdown-icon {
    width: 0.8em;
    height: 0.8em;
    position: relative;
    left: -3.8em;
    top: 0.8em;
}

.buttons-wrapper.form-buttons {
    margin: 2em 1em;
}

button.scary {
    color: red;
    border: solid 2px red;
}

.select-all-button-wrapper {
    align-items: center;
    flex-flow: row nowrap;
    margin: 2em 1em;
}

.buttons-wrapper select {
    background-color: transparent;
    border-radius: 0.1em;
    padding: 0.5em 0.8em;
    font-size: 1.1em;
    font-weight: 400;
    width: 8.8em;
    line-height: 1.4;
    position: relative;
    border: solid 0.1em #0e2940;
}

/* POP-UP */

.pop-up {
    background-color: white;
    padding: 1em;
    margin: 2em auto;
    text-align: center;
    width: 40%;
    display: block;
    border: solid thin #B3B1B1;
    box-shadow: 1em 1em 1em -0.8em #B3B1B1;
}

.pop-up p {
    font-size: 1.3em;
    line-height: 2em;
    padding: 0 3em;
}

.pop-up-buttons {
    margin: 2em 1em 0;
}

/* PRESETS MANAGER PAGE */

.presets-manager-wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 2em 0;
}

.presets-manager-content {
    flex: 2;
    padding: 1em;
}

.presets-manager-list {
    border: solid thin #B3B1B1;
}

.edit-presets-icons {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em;
}

.edit-presets-icons img {
    width: 1.2em;
}

.presets-list ul {
    list-style: none;
    padding: 0;
}

.presets-list ul li {
    border-top: solid thin #B3B1B1;
    padding: 1em;
}

.preset-title {
    line-height: 2em;
}

.preset-list-item-selected {
    background-color: #6ab469;
}

.blankField {
    background-color: white !important;
}

/* BANNERS */

.banner-block {
    margin-top: 2em;
    padding-bottom: 2em;
}

.banner {
    background-color: #0e2940;
    color: white;
    padding: 0.5em 1em;
}

.banner.selected-devices {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.quit-button {
    width: 2em;
}

/* FORMS */

.form-block-wrapper {
    margin: 4em auto;
    max-width: 100%;
}

.form-block {
    background-color: white;
}

.form-headings {
    border-top: solid thick #6ab468;
    padding-top: 1em;
}

.subheading {
    margin-top: 1em;
}

.form-body {
    flex-flow: row wrap;
    justify-content: space-between;
}

.form-field {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

label, input, select, .icon, .subheading * {
    display: inline-block;
}

label {
    color: #8a8a8a;
    position: relative;
    width: 20em;
    margin-bottom: 1em;
}

input {
    width: 60%;
}

input, select {
    line-height: 1.8em;
    border-radius: 0.1em;
    border: solid thin #8a8a8a;
    font-size: 1em;
    padding: 0.2em;
}

select {
    height: 2.5em;
    width: 60%;
    -webkit-appearance: none;
    padding: 0.5em;
}

input:focus, [data-changed] {
    border: solid thin red;
}

/*  CHECKBOXES */

input[type="checkbox"] {
    opacity: 0;
    position: relative;
    bottom: -1.5em;
    z-index: 1;
    display: contents;
}

input[type=checkbox]+label {
    right: 43em;
}

.icon+label {
    margin-left: -2em;
}

input[type="checkbox"]+label::after {
    content: "";
    position: absolute;
    right: -4.5em;
    top: 0em;
    width: 1em;
    height: 1em;
    display: inline-block;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #616161;
    border-width: 0.01em;
    vertical-align: middle;
}

input:checked+label::after {
    background-image: url(images/check-icon.png);
}

/* MQ - MOBILE */

@media screen and (max-width: 730px) {
    /* LIST */
    .tab-title, .article-wrapper.flex, .tab-titles-wrapper article, .table-nav, .table-nav-left, .table-nav-right {
        display: block;
        width: 100%;
        margin: 1em auto;
        height: unset;
    }
    /* FORMS */
    label, input, .form-field, select {
        display: block;
        width: 100%;
    }
    .buttons-wrapper {
        display: block;
        width: 100%;
        margin: auto;
        padding: 1em;
    }
    button, button.primary {
        width: 100%;
    }
    input[type="checkbox"]+label::after {
        right: 0;
    }
}